.sidebarContainer {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1000;

    .toggleButton {
        width: 26px;
        height: 44px;
        background-color: #495057;
    }
}

.sidebar {
    width: 65px;
    background-color: #FBFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    .navItems {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .navItem {
            cursor: pointer;
            position: relative;
            width: 100%;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;  
            color: inherit; 

            &:hover {
                background-color: #495057;  
                color: white; 
            }

            &.active {
                background-color:#3B1969;
                color: #fff;

                .toggleExpand{
                    display: block;
                }
            }

            .fas {
                margin-right: 10px;
            }
        }
    }

    .toggleExpand {
        position: absolute;
        left: -26px;
        width: 26px;
        height: 44px;
        background: beige;
        display: none;
    }
}
